@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,500i,600,700,700i,800,800i,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,500i,600,700,700i,800,800i,900&display=swap");

.event_area .double_line::before, .event_area .double_line::after {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f0b7a1+0,752201+0,8c3310+26,bf6e4e+75 
  background: #f0b7a1;
  background: -moz-linear-gradient(left,  #f0b7a1 0%, #752201 0%, #8c3310 26%, #bf6e4e 75%);
  background: -webkit-linear-gradient(left,  #f0b7a1 0%,#752201 0%,#8c3310 26%,#bf6e4e 75%);
  background: linear-gradient(to right,  #f0b7a1 0%,#752201 0%,#8c3310 26%,#bf6e4e 75%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0b7a1', endColorstr='#bf6e4e',GradientType=1 );*/
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#0e0e0e+1,7d7e7d+100 */
  background: #0e0e0e; /* Old browsers */
  background: -moz-linear-gradient(left,  #0e0e0e 1%, #7d7e7d 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #0e0e0e 1%,#7d7e7d 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #0e0e0e 1%,#7d7e7d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e0e0e', endColorstr='#7d7e7d',GradientType=1 ); /* IE6-9 */


}

body {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-style: normal;
}

.img {
  max-width: 100%;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

h1, h2, h3, h4, h5 {
  font-family: "Poppins", sans-serif;
  color: #131313;
}

p {
  font-size: 14px;
  font-weight: 300;
  line-height: 26px;
  color: #808080;
  margin-bottom: 13px;
  font-family: "Poppins", sans-serif;
}

h3 {
  font-size: 24px;
}

.event_area {
  position: relative;
  padding-bottom: 120px;
}

@media (max-width: 767px) {
  .event_area {
    padding-bottom: 60px;
  }
}

.event_area.plus_padding {
  margin-top: 200px;
}

@media (max-width: 767px) {
  .event_area.plus_padding {
    margin-top: 60px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .event_area.plus_padding {
    margin-top: 60px;
  }
}

.event_area .vr_text {
  font-size: 120px;
  font-weight: 700;
  color: #F3F3F3;
  writing-mode: vertical-lr;
  position: absolute;
  left: 17%;
  top: 10%;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

@media (min-width: 992px) and (max-width: 1200px) {
  .event_area .vr_text {
    left: 2%;
  }
}

.event_area .double_line {
  position: relative;
  z-index: 9;
  padding-top: 100px;
  padding-bottom: 20px;
}

@media (max-width: 767px) {
  .event_area .double_line {
    padding-top: 40px;
    margin-bottom: 20px;
  }
}

.event_area .double_line::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 20px;
  top: 0;
  left: 0;
}

.event_area .double_line::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 20px;
  bottom: 0;
  left: 0;
}

.event_area .date h3 {
  font-size: 26px;
  font-weight: 500;
  color: #575757/*#bf6e4e/*#FF0000;*/
}
.event_area a {
  text-decoration-color: black;
}
/*
.event_area .button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 10px;
  box-shadow: 0 9px #999;
}

.event_area .button:hover {background-color: #3e8e41}

.event_area .button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
*/
@media (max-width: 767px) {
  .event_area .date h3 {
    margin-bottom: 20px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .event_area .date h3 {
    margin-bottom: 30px;
  }
}



.event_area .single_speaker {
  margin-bottom: 63px;
}

@media (max-width: 767px) {
  .event_area .single_speaker {
    margin-bottom: 30px;
  }
}

.event_area .single_speaker img {
  float: left;
}

@media (max-width: 767px) {
  .event_area .single_speaker img {
    float: none;
  }
}

.event_area .single_speaker .speaker-name {
  padding-left: 30px;
  overflow: hidden;
}

.speaker-name p{
	font-size: 1em;
}

@media (max-width: 767px) {
  .event_area .single_speaker .speaker-name {
    padding-left: 0;
    margin-top: 20px;
  }
}

.event_area .single_speaker .speaker-name .heading {
  margin-bottom: 5px;
}

.event_area .single_speaker .speaker-name .heading span {
  font-size: 24px;
  color: #1F1F1F;
  font-weight: 500;
}

.event_area .single_speaker .speaker-name .heading .time {
  font-size: 16px;
  font-weight: 500;
  color: #1F1F1F;
}

.event_area .single_speaker p {
  color: #707070;
  font-size: 16px;
  line-height: 28px;
  text-align: left;
}