.container-fluid{
	text-align: center;
	padding: 0;
	margin: 0;
}
.coctext
{	
	align-items: center;
  	justify-content: center;
  	color: grey;
  	font-family: 'Nunito', sans-serif;
  	font-size: 1.1em;
  	padding: 0;
  	margin: 0;
  	border: 0;

}
h4
{	
	color: #615D5D;

}
footer{
	background-color:#E8E7E7;
	text-align: right;
	padding-right: 20px; 
}
a{
	text-decoration: none;
}
a:hover{
	text-decoration:none; 
}

